<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="tiloo.css">
    <title>Departamento de Notas</title>    
</head>
<body>

    <header class="navbar">
        <h1>Departamento de Notas</h1>
    </header>

    <div class="login">
        <div class="login-buttons">
            <button type="button">Cargar notas</button>
            <button type="button">Editar información</button>
        </div>
        
        <img src="C:\Users\Ivan\Downloads\colegio.png" alt="imagen-colegio" width="300px">
    </div>

</body>
</html>
