<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas del Alumno</title>
    <link rel="stylesheet" href="stylo.css">
    <style></style>
</head>

<body>
    <header >
        <ul>
    <nav>
       <a href="inicio.html"> <img  class="logo" alt="logo" src="C:\Users\Ivan\Downloads\colegio.png" > </a>
    </ul>
    </nav>
    </header>

    <table>
        <tr>
            <th colspan="15">Colegio Provincial DR. Ernesto Guevara</th>
        </tr>
        <tr>
            <th colspan="5">Nombre:Ivan Godoy</th>
            <th colspan="5">Curso: 7mo2da</th>
            <th colspan="5">Año:7mo</th>
        </tr>
        
        <tr>
            <th colspan="2">Ciclo Superior</th>
            <th class="vertical">Matematica</th>
            <th class="vertical">Ingles tecnico</th>
            <th class="vertical">Marco juridico</th>
            <th class="vertical">Asitencia</th>
            <th class="vertical">Autogestion</th>
            <th class="vertical">Hardware</th>
            <th class="vertical">Practicas Profesionalizantes</th>
            <th class="vertical">Programacion</th>
            <th class="vertical">Redes</th>
            <th class="vertical">Ardruino</th>
        </tr>
        <tr>
            <th rowspan="3">1° cuatrimestre</th>
            <th>1er informe</th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
           
        </tr>
        <tr>
            <th>2do informe</th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
         
        </tr>
        <tr>
            <th>nota</th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
            <th><input type="number" id="nota" min="0" max="10" required></th>
          
        </tr>
    </tr>
    <tr>
        <th rowspan="3">2° cuatrimestre</th>
        <th>1er informe</th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        
    </tr>
    <tr>
        <th>2do informe</th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
     
    </tr>
    <tr>
        <th>nota</th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        <th><input type="number" id="nota" min="0" max="10" required></th>
        
    </tr>

    </table>
</body>
</html>
