<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Notas</title>
    <link rel="stylesheet" href="/css/notas.css">
</head>
<body>
    <header>
        <img src="/img/colegio.jpeg" alt="Logo del colegio" class="logo">
        <h1>Registro de Notas</h1>
    </header>
    <main>
        <section class="form-container">
            <form action="/guardar_nota" method="POST">
                <label for="nombre">Alumno:</label>
                <select id="alumno" name="nombre">
                <%alumnos.forEach(n => {%>
                    <option value="<%=n.nombre%>"><%=n.nombre%></option>
                <%})%>
                </select>
                <!-- <label for="curso">division:</label> -->
                <!-- <select id="curso" name="curso"> -->
                    <!-- <option value="6to">6to</option> -->
                    <!-- <option value="7mo">7mo</option> -->
                <!-- </select> -->

                <!-- <label for="division">División:</label> -->
                <!-- <select id="division" name="division"> -->
                    <!-- <option value="1ra">1ra</option> -->
                    <!-- <option value="2da">2da</option> -->
                <!-- </select> -->
                <label for="cuatrimestre">Cuatrimestre</label>
                <select name="cuatrimestre" id="Cuatrimestre">
                    <option value="1">1er cuatrimestre</option>
                    <option value="2">2do cuatrimestre</option>
                </select>

                <label for="informe">Informe</label>
                <select name="informe" id="Informe">
                    <option value="1">1er informe</option>
                    <option value="2">2do informe</option>
                </select>

                <label for="curso">curso</label>
                <select name="curso" id="curso">
                    <option value="25">7mo1ra</option>
                    <option value="26">7mo2da</option>
                </select>

                <label for="materia">Materia:</label>
                <select id="materia" name="materia">
                <%materias.forEach(materias => {%>
                    <option value="<%=materias.nombre_materia%>"><%= materias.nombre_materia%></option>
                <%})%>
                </select>

                <label for="nota">Nota (1 a 10):</label>
                <input type="number" id="nota" name="nota" min="1" max="10" required>

                <button type="submit">Enviar</button>
            </form>
        </section>
    </main>
</body>
</html>

