<header class="navbar">  
  <link rel="stylesheet" href="/css/header.css">
  <h1>Colegio Guevara</h1>
  <nav>
    <ul>
      <li><a href="#inicio">Facebook</a></li>
      <li><a href="#servicios">Gmail</a></li>
      <li><a href="#contacto">Contacto</a></li>
      <li><a href="/registro">Registro</a></li>
    </ul>
  </nav>
</header>
